th{
    text-aline:left;
}
.detail{
    font-size:24px;
}
div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: roboto;
}